name: Build imagemagick
on:
  workflow_dispatch:
    inputs:
      php:
        description: PHP version to build for
        required: true
      tag:
        description: ImageMagick tag
        required: true
defaults:
  run:
    shell: cmd
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, x86]
    runs-on: ${{ inputs.php >= '8.4' && 'windows-2022' || 'windows-2019' }}
    steps:
      - name: Checkout winlib-builder
        uses: actions/checkout@v6
        with:
          path: winlib-builder
      - name: Checkout imagemagick-windows
        uses: actions/checkout@v6
        with:
          path: imagemagick-windows
          repository: ImageMagick/Windows
          ref: main
      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v2
      - name: Compute virtual inputs
        id: virtuals
        run: powershell winlib-builder/scripts/compute-virtuals -version ${{github.event.inputs.php}} -arch ${{matrix.arch}}
      - name: Fetch dependencies
        run: cd imagemagick-windows && clone-repositories-im7.cmd
      - name: Checkout imagemagick tag
        run: cd imagemagick-windows\ImageMagick && git fetch origin ${{ inputs.tag }} && git checkout ${{ inputs.tag }}
      - name: Patch imagemagick
        run: |
          cd imagemagick-windows\Configure\src
          git apply --ignore-whitespace ..\..\..\winlib-builder\patches\imagemagick.patch
          if "${{steps.virtuals.outputs.vsnum}}" neq "17" (
            cd ..\..\ImageMagick
            git apply --ignore-whitespace ..\..\winlib-builder\patches\imagemagick-ma.patch
            git apply --ignore-whitespace ..\..\winlib-builder\patches\imagemagick-emf.patch
            git apply --ignore-whitespace ..\..\winlib-builder\patches\imagemagick-msvc.patch
          )
      - name: Configure imagemagick
        run: |
          cd imagemagick-windows\Configure
          msbuild /p:Configuration=Release;Platform=${{matrix.arch}};PlatformToolset=${{steps.virtuals.outputs.msts}};WindowsTargetPlatformVersion=${{steps.virtuals.outputs.winsdk}} Configure.sln
          Artifacts\Release\${{matrix.arch}}\bin\Configure.Release.${{matrix.arch}} /noWizard /${{matrix.arch}} /noHdri /noOpenCL /deprecated /VS${{steps.virtuals.outputs.vsyear}}
      - name: Build imagemagick
        run: |
          cd imagemagick-windows
          msbuild /p:Configuration=Release;Platform=${{matrix.arch}};PlatformToolset=${{steps.virtuals.outputs.msts}};WindowsTargetPlatformVersion=${{steps.virtuals.outputs.winsdk}} IM7.Dynamic.${{ matrix.arch }}.sln
      - name: Install imagemagick
        run: |
          cd imagemagick-windows\Artifacts
          xcopy bin\* ..\..\install\bin\*
          del ..\..\install\bin\CORE_RL_aom_.pdb
          del ..\..\install\bin\CORE_RL_brotli_.pdb
          del ..\..\install\bin\CORE_RL_croco_.pdb
          del ..\..\install\bin\CORE_RL_ffi_.pdb
          del ..\..\install\bin\CORE_RL_highway_.pdb
          del ..\..\install\bin\CORE_RL_libde265_.pdb
          del ..\..\install\bin\CORE_RL_pixman_.pdb
          del ..\..\install\bin\CORE_RL_raqm_.pdb
          del ..\..\install\bin\*fuzzer.pdb
          xcopy ..\ImageMagick\MagickCore\*.h ..\..\install\include\MagickCore\*
          del ..\..\install\include\MagickCore\*-private.h
          xcopy ..\ImageMagick\MagickWand\*.h ..\..\install\include\MagickWand\*
          del ..\..\install\include\MagickWand\*-private.h
          xcopy lib\*.lib ..\..\install\lib\*
          xcopy lib\*.exp ..\..\install\lib\*
          xcopy lib\*.pdb ..\..\install\lib\*
          del ..\..\install\lib\CORE_RL_aom_.pdb
          del ..\..\install\lib\CORE_RL_brotli_.pdb
          del ..\..\install\lib\CORE_RL_croco_.pdb
          del ..\..\install\lib\CORE_RL_ffi_.pdb
          del ..\..\install\lib\CORE_RL_highway_.pdb
          del ..\..\install\lib\CORE_RL_libde265_.pdb
          del ..\..\install\lib\CORE_RL_pixman_.pdb
          del ..\..\install\lib\CORE_RL_raqm_.pdb
          xcopy ..\ImageMagick\LICENSE ..\..\install\*
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ImageMagick-${{inputs.tag}}-${{steps.virtuals.outputs.vs}}-${{matrix.arch}}
          path: install
