name: Build libfann
on:
  workflow_dispatch:
    inputs:
      php:
        description: PHP version to build for
        required: true
defaults:
  run:
    shell: cmd
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, x86]
    runs-on: ${{ inputs.php >= '8.0' && 'windows-2022' || 'windows-2019' }}

    steps:
      - name: Checkout winlib-builder
        uses: actions/checkout@v6
        with:
          path: winlib-builder

      - name: Checkout source
        uses: actions/checkout@v6
        with:
          repository: libfann/fann
          ref: master
          path: fann

      - name: Apply patch
        run: cd fann && git apply ..\winlib-builder\patches\libfann.patch

      - name: Compute virtual inputs
        id: virtuals
        run: powershell winlib-builder/scripts/compute-virtuals -version ${{ inputs.php }} -arch ${{ matrix.arch }}

      - name: Configure with CMake
        run: cd fann && md build && cd build && cmake .. -G "Visual Studio ${{ inputs.php >= '8.0' && '17 2022' || '16 2019' }}" -A ${{ steps.virtuals.outputs.msarch }} -T ${{ steps.virtuals.outputs.msts }} -DCMAKE_SYSTEM_VERSION=${{ steps.virtuals.outputs.winsdk }} -Dfann_tests_enabled=OFF -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}\install

      - name: Build
        run: cd fann\build && cmake --build . --config Release

      - name: Install
        shell: powershell
        run: |
          cd fann\build
          cmake --install . --config Release

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: libfann-2.2.0-${{ steps.virtuals.outputs.vs }}-${{ matrix.arch }}
          path: ${{ github.workspace }}/install
