name: Build libyaml
on:
  workflow_dispatch:
    inputs:
      php:
        description: PHP version to build for
        required: true
      libyaml:
        description: libyaml version to build
        required: true
defaults:
  run:
    shell: cmd
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, x86]
    runs-on: ${{ inputs.php >= '8.0' && 'windows-2022' || 'windows-2019' }}

    steps:
      - name: Checkout winlib-builder
        uses: actions/checkout@v6
        with:
          path: winlib-builder

      - name: Checkout source
        uses: actions/checkout@v6
        with:
          repository: yaml/libyaml
          ref: ${{ inputs.libyaml }}
          path: libyaml

      - name: Compute virtual inputs
        id: virtuals
        shell: powershell
        run: winlib-builder/scripts/compute-virtuals -version ${{ inputs.php }} -arch ${{ matrix.arch }}

      - name: Configure with CMake
        run: cd libyaml && md build && cd build && cmake .. -G "Visual Studio ${{ inputs.php >= '8.0' && '17 2022' || '16 2019' }}" -A ${{ steps.virtuals.outputs.msarch }} -T ${{ steps.virtuals.outputs.msts }} -DCMAKE_SYSTEM_VERSION=${{ steps.virtuals.outputs.winsdk }} -DBUILD_TESTING=OFF -DBUILD_SHARED_LIBS=OFF -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}\install -DCMAKE_C_FLAGS_RELEASE="/MT /Zi /O2" -DCMAKE_STATIC_LINKER_FLAGS="/DEBUG"

      - name: Build
        run: cd libyaml\build && cmake --build . --config Release

      - name: Install
        shell: powershell
        run: |
          cd libyaml\build
          cmake --install . --config Release
          Remove-Item -Recurse -Force ${{ github.workspace }}\install\cmake
          Copy-Item ..\License ${{ github.workspace }}\install\License
          Copy-Item Release\*.pdb ${{ github.workspace }}\install\lib\

      - name: Upload build artifact
        uses: actions/upload-artifact@v6
        with:
          name: libyaml-${{ inputs.libyaml }}-${{ steps.virtuals.outputs.vs }}-${{ matrix.arch }}
          path: ${{ github.workspace }}/install
