name: Build protobuf
on:
  workflow_dispatch:
    inputs:
      version:
        description: protobuf tag to build
        required: true
      php:
        description: PHP version to build for
        required: true
defaults:
  run:
    shell: cmd
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [x64, x86]
    runs-on: windows-2022

    steps:
      - name: Checkout winlib-builder
        uses: actions/checkout@v5
        with:
          path: winlib-builder

      - name: Checkout source
        uses: actions/checkout@v5
        with:
          repository: protocolbuffers/protobuf
          ref: v${{ inputs.version }}
          submodules: recursive
          path: protobuf

      - name: Compute virtual inputs
        id: virtuals
        run: powershell winlib-builder/scripts/compute-virtuals -version ${{ inputs.php }} -arch ${{ matrix.arch }}

      - name: Configure with CMake
        run: cd protobuf && md build && cd build && cmake .. -G "Visual Studio 17 2022" -A ${{ steps.virtuals.outputs.msarch }} -T ${{ steps.virtuals.outputs.msts }} -DCMAKE_SYSTEM_VERSION=${{ steps.virtuals.outputs.winsdk }} -Dprotobuf_BUILD_TESTS=OFF -Dprotobuf_WITH_ZLIB=OFF -Dprotobuf_MSVC_STATIC_RUNTIME=OFF -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}\install

      - name: Build
        run: cd protobuf\build && cmake --build . --config Release

      - name: Install
        shell: powershell
        run: |
          cd protobuf\build
          cmake --install . --config Release

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: protobuf-${{ inputs.version }}-${{ steps.virtuals.outputs.vs }}-${{ matrix.arch }}
          path: ${{ github.workspace }}/install
